.box-card {
  margin-bottom: 30px;
  &:nth-child(2) {
    margin-bottom: 0;
  }
  .header_title {
    line-height: 32px;
  }
  .header_btn {
    margin-left: 10px;
  }
  .data-table {
    // padding-top: 10px;
    .el-table {
      .el-table__body-wrapper {
        tbody tr {
          cursor: pointer;
        }
      }
    }
  }
  .el-pagination {
    margin-bottom: 20px;
  }
}
