.bg-icon {
  display: inline-block;
  transform: scale(0.5);
  background-size: 435px 428px;
}

.bg-arrow_1 {
  width: 14px;
  height: 23px;
  background: url('../css_sprites.png') -146px -395px;
}

.bg-arrow_2 {
  width: 23px;
  height: 14px;
  background: url('../css_sprites.png') -50px -356px;
}

.bg-arrow_3 {
  width: 14px;
  height: 23px;
  background: url('../css_sprites.png') -112px -395px;
}

.bg-arrow_3_disabled {
  width: 14px;
  height: 23px;
  background: url('../css_sprites.png') -78px -395px;
}

.bg-arrow_4 {
  width: 14px;
  height: 23px;
  background: url('../css_sprites.png') -44px -395px;
}

.bg-arrow_4_disabled {
  width: 14px;
  height: 23px;
  background: url('../css_sprites.png') -10px -395px;
}

.bg-ico_announcement {
  width: 38px;
  height: 38px;
  background: url('../css_sprites.png') -10px -298px;
}

.bg-ico_attendance {
  width: 38px;
  height: 38px;
  background: url('../css_sprites.png') -126px -298px;
}

.bg-ico_comment {
  width: 20px;
  height: 19px;
  background: url('../css_sprites.png') -10px -356px;
}

.bg-ico_company {
  width: 32px;
  height: 32px;
  background: url('../css_sprites.png') -242px -298px;
}

.bg-ico_document {
  width: 64px;
  height: 69px;
  background: url('../css_sprites.png') -309px -10px;
}

.bg-ico_error {
  width: 68px;
  height: 68px;
  background: url('../css_sprites.png') -10px -210px;
}

.bg-ico_holiday {
  width: 18px;
  height: 16px;
  background: url('../css_sprites.png') -180px -395px;
}

.bg-ico_info {
  width: 26px;
  height: 30px;
  background: url('../css_sprites.png') -393px -114px;
}

.bg-ico_leave {
  width: 38px;
  height: 38px;
  background: url('../css_sprites.png') -184px -298px;
}

.bg-ico_link {
  width: 22px;
  height: 21px;
  background: url('../css_sprites.png') -393px -306px;
}

.bg-ico_location_1 {
  width: 24px;
  height: 32px;
  background: url('../css_sprites.png') -393px -164px;
}

.bg-ico_off {
  width: 44px;
  height: 44px;
  background: url('../css_sprites.png') -309px -163px;
}

.bg-ico_other {
  width: 80px;
  height: 80px;
  background: url('../css_sprites.png') -10px -10px;
}

.bg-ico_pencil {
  width: 24px;
  height: 24px;
  background: url('../css_sprites.png') -393px -262px;
}

.bg-ico_salary {
  width: 80px;
  height: 80px;
  background: url('../css_sprites.png') -10px -110px;
}

.bg-ico_select_1 {
  width: 32px;
  height: 32px;
  background: url('../css_sprites.png') -294px -298px;
}

.bg-ico_select_2 {
  width: 32px;
  height: 32px;
  background: url('../css_sprites.png') -393px -10px;
}

.bg-ico_setting {
  width: 26px;
  height: 26px;
  background: url('../css_sprites.png') -393px -216px;
}

.bg-ico_setting_1 {
  width: 40px;
  height: 40px;
  background: url('../css_sprites.png') -158px -210px;
}

.bg-ico_setting_2 {
  width: 40px;
  height: 40px;
  background: url('../css_sprites.png') -98px -210px;
}

.bg-ico_social {
  width: 80px;
  height: 80px;
  background: url('../css_sprites.png') -110px -10px;
}

.bg-ico_success {
  width: 68px;
  height: 68px;
  background: url('../css_sprites.png') -210px -95px;
}

.bg-ico_tax {
  width: 80px;
  height: 80px;
  background: url('../css_sprites.png') -110px -110px;
}

.bg-ico_to {
  width: 44px;
  height: 44px;
  background: url('../css_sprites.png') -309px -99px;
}

.bg-ico_wage {
  width: 38px;
  height: 38px;
  background: url('../css_sprites.png') -68px -298px;
}

.bg-ico_workbench_1 {
  width: 40px;
  height: 40px;
  background: url('../css_sprites.png') -218px -210px;
}

.bg-ico_workbench_2 {
  width: 40px;
  height: 40px;
  background: url('../css_sprites.png') -309px -227px;
}

.bg-qianIcon {
  width: 79px;
  height: 65px;
  background: url('../css_sprites.png') -210px -10px;
}

.bg-time {
  width: 32px;
  height: 32px;
  background: url('../css_sprites.png') -393px -62px;
}

.bg-time_1 {
  width: 20px;
  height: 20px;
  background: url('../css_sprites.png') -346px -298px;
}
